body {
  font: 14px helvetica;
  text-align: center;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x.axis path {  }
.y.axis path {  }
.axis { fill: #000; }
.y.axis { font-size: 13px; }
.y.axis.hght { font-size: 9px; fill: red;}
.x.axis { font-size: 13px; }
.y.axis.ticks text { display: none; }

.temp {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  display: none;
}

.dwpt {
  fill: none;
  stroke: green;
  stroke-width: 2px;
  display: none;
}

.gridline, .tempzero {
   stroke: #dfdfdf;
   stroke-width: 0.75px;
   fill: none;
}
.tempzero { stroke: #aaa; stroke-width: 1.25px; }

.barb {
   stroke: #000;
   stroke-width: 0.75px;
   fill: none;
}
.flag { stroke: #000; stroke-width: 0.75px; fill: #000; }
.hodoline { stroke: #000; stroke-width: 1.25px; fill: none;  }

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: red;
  stroke: none;
}
.focus2 circle { fill: green; stroke: none;}
.focus text, .focus2 text { font-size: 10px; }

div.rollover { padding: 5px 4px 5px 4px; display: inline; cursor: pointer;}
div.rollover:hover { background-color: #EFEFEF; }
.rollover0 { display: block; }
