body {
  font: 14px helvetica;
  text-align: center;
}
#mainbox, #hodobox { float: left; }
#hodobox { width: 300px; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x.axis path {  }
.y.axis path {  }
.axis { fill: #000; }
.y.axis { font-size: 13px; }
.y.axis.hght { font-size: 9px; fill: red;}
.x.axis { font-size: 13px; }
.y.axis.ticks text { display: none; }

.temp {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  display: none;
}

.dwpt {
  fill: none;
  stroke: green;
  stroke-width: 2px;
  display: none;
}
.hodoline { stroke: #000; stroke-width: 2px; fill: none;  }
.member { stroke-width: 1.5px; opacity: 0.3;}
.mean { stroke-width: 2.5px;}

.gridline, .tempzero {
   stroke: #dfdfdf;
   stroke-width: 0.75px;
   fill: none;
}
.tempzero { stroke: #aaa; stroke-width: 1.25px; }

.barline { stroke: #000; stroke-width: 0.5px; }
.rectline { fill: #000;}
.index { font-size: 11px; }
.key { font-size: 10px; }

.windbarb { stroke: #000; stroke-width: 0.75px; fill: none; }
.barb { stroke: #000; stroke-width: 0.75px; fill: none; }
.flag { stroke: #000; stroke-width: 0.75px; fill: #000; }

.overlay {
  fill: none;
  pointer-events: all;
}

.focus.tmpc circle { fill: red;   stroke: none; }
.focus.dwpc circle { fill: green; stroke: none; }
.focus text { font-size: 12px; }
	

div.rollover { padding: 5px 4px 5px 4px; display: inline; cursor: pointer;}
div.rollover:hover { background-color: #EFEFEF; }
.rollover0 { display: block; }
